@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Services";
}

@{
    if(HttpContextAccessor?.HttpContext?.Request.Cookies["acc_no"] != null)
    {
        <h3>Your Account No: <span class="text-secondary">@HttpContextAccessor?.HttpContext.Request.Cookies["acc_no"]</span></h3>
        <hr />
        <div class="container text-center">
            <div class="row g-2">
                <div class="col-12">
                    <a asp-action="CheckBalance" asp-controller="Home"><div class="p-3 border bg-primary rounded-3 text-decoration-none text-white">Check Balance</div></a>
                </div>
                <div class="col-6">
                    <a asp-action="Withdraw" asp-controller="Home"><div class="p-3 border bg-primary rounded-3 text-decoration-none text-white">Withdraw Money</div></a>
                </div>
                <div class="col-6">
                    <a asp-action="Credit" asp-controller="Home"><div class="p-3 border bg-primary rounded-3 text-decoration-none text-white">Credit Money</div></a>
                </div>
                <div class="col-6">
                    <a asp-action="ChangePIN" asp-controller="Home"><div class="p-3 border bg-primary rounded-3 text-decoration-none text-white">Change PIN</div></a>
                </div>
                <div class="col-6">
                    <a asp-action="TransferAmount" asp-controller="Home"><div class="p-3 border bg-primary rounded-3 text-decoration-none text-white">Transfer Amount</div></a>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1 class="text-danger">Access Denied &#9888;</h1>
        <h1 class="text-danger">Please enter your ATM card number to avail services!</h1>
        <hr />
        <a asp-action="Index" asp-controller="Home">Home</a>
    }
}
