@{
    ViewData["Title"] = "Success";
}

<h1 class="text-success">Your PIN changed successfully.</h1>
<h3 class="text-dark">Login with your new PIN to access ATM services.</h3>
<a asp-action="Index" asp-controller="Home">Go to Home page</a>