@{
    ViewData["Title"] = "Credit";
}

<h1>Credit Amount</h1>
<hr />
<h5 class="text-danger">@ViewBag.Error</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Credit" method="post">
            <div class="form-group">
                <label class="control-label">Amount</label>
                <input name="amount" type="number" class="form-control" placeholder="Enter amount to credit" />
            </div>
            <div class="form-group">
                <label class="control-label">PIN</label>
                <input name="pin" type="number" class="form-control" placeholder="Enter your PIN" max="9999" min="1000" />
            </div>

            <div class="form-group">
                <hr />
                <input type="submit" value="Enter" class="btn btn-primary" /> | 
                <a asp-action="AvailableServices">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
