@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model ATM.Web.ViewModels.TransferViewModel;
@{
    ViewData["Title"] = "Success";
}

<h1 class="text-success">Amount transferred successfully.</h1>
<h3>Transaction Details:</h3>
<ul>
    <li>From account: @HttpContextAccessor?.HttpContext.Request.Cookies["acc_no"]</li>
    <li>To account: @Model.AccountNo</li>
    <li>Amount: ₹ @Model.Amount</li>
</ul>
<hr />
<p class="text-dark">Transaction completed successfully. Return back to <a asp-action="AvailableServices" asp-controller="Home">Home</a></p>