@model ATM.Web.ViewModels.TransferViewModel

@{
    ViewData["Title"] = "TransferAmount";
}

<h1>Transfer Amount</h1>
<h3 class="text-secondary">Enter recipient details</h3>
<hr />
<h5 class="text-danger">@ViewBag.Error</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="TransferAmount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountNo" class="control-label"></label>
                <input asp-for="AccountNo" class="form-control" placeholder="Enter recipient's account no." />
                <span asp-validation-for="AccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmAccountNo" class="control-label"></label>
                <input asp-for="ConfirmAccountNo" class="form-control" placeholder="Re-enter recipient's account no." />
                <span asp-validation-for="ConfirmAccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" placeholder="Enter amount to transfer" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PIN" class="control-label"></label>
                <input asp-for="PIN" class="form-control" type="password" placeholder="Enter your PIN" />
                <span asp-validation-for="PIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Transfer" class="btn btn-success" /> |
                <a asp-action="AvailableServices">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
